/* Variables and mixins declared here will be available in all other SCSS files */
$background: #1c1c1c;
$background-light: #202020;
$primary:          #ffe000;
$primary-light:    #fceb69;
$primary-dark:     #db9600;
$text:             #d1d1d1;